global
    log stdout format raw local0
    maxconn 10000

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend public_api
    bind *:8767
    default_backend kind_api

backend kind_api
    option httpchk GET /health
    http-check expect status 200
    server kind-node seif-control-plane:30067 check inter 2s
